#indexbanner {
background-image: url(images/header.png);
border: 4px solid red;
text-align: center;
}

#contactbanner {
background-image: url(images/contactbanner.jpg);
border: 4px solid red;
text-align: center;
}

#footer {
background-color: red;
text-align: center;
}

h1 {
font-family: verdana;
font-size: 50px;
color: red;
}

#indexbanner p {
font-family: verdana;
font-size: 25px;
text-align: left;
color: white;
padding-left: 20px;
}

p {
font-family: verdana;
font-size: 20px;
text-align: center;
}

img {
border: 4px solid red;
display: flex;
margin-left: auto;
margin-right: auto;
}

nav {
color:black;
font-size:15x;
background-color:red;
font-family:verdana;
text-align:center;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}